<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Database 설정 -->
	<!-- DB설정 파일의 위치 -->
	<bean id = "propertyConfigur" class= "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name = "locations">
			<list>
				<value>classpath:properties/jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- DBMS -->
	<!-- 
		BasicDataSource dataSource = new BasicDataSource();
		
		driverClassName = jdbc.driverClassName;
		
		bean : 객체
		property : 변수
	 -->
	<bean id ="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name = "driverClassName" value = "${jdbc.driverClassName}"></property>
		<property name="url" value = "${jdbc.url}"></property>
		<property name="username" value = "${jdbc.username}"></property>
		<property name="password" value = "${jdbc.password}"></property>
		<property name="initialSize" value = "${jdbc.initialSize}"></property>
		<property name="maxActive" value = "${jdbc.maxActive}"></property>
		<property name="minIdle" value = "${jdbc.initialSize}"></property>
		<property name="maxWait" value = "3000"></property>
		<property name="poolPreparedStatements" value = "true"></property>
		<property name="maxOpenPreparedStatements" value = "50"></property>
	</bean>
	
	<!-- mybatis setting -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name = "dataSource" ref = "dataSource"></property>
		<property name = "mapperLocations" value = "classpath:sqls/*.xml"/>
	</bean>
	
	<!-- sqlSession 취득 -->
	<bean id = "sqlSession" class = "org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index = "0" ref = "sqlSessionFactory"/>
		<constructor-arg index = "1" value = "SIMPLE"/> <!-- SIMPLE / BATCH -->
	</bean>
	
	<!-- JDBC -->
	
	<bean id = "transationManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name = "dataSource" ref = "dataSource"></property>
	</bean>
</beans>
